<div [style.zoom]="divZoom" class="app-p-4">
  <ng-container *ngIf="_printSpace">
    <p *ngFor="let block of _printSpace.elements; let idx = index">
      <ng-container *ngIf="block.name === 'TextBlock'">
        <div *ngFor="let line of block.elements; let lidx = index">
          <ng-container *ngIf="line.name === 'TextLine'">
            <ng-container *ngFor="let w of line.elements; let widx = index">
              <ng-container *ngIf="w.name === 'String'">
                <span 
                  *ngIf="selectedWords.length === 0 || !canEdit || w.attributes['HPOS'] !== selectedWords[0].attributes['HPOS'] || w.attributes['VPOS'] !== selectedWords[0].attributes['VPOS']"
                  (click)="onSetArea(idx, lidx, widx)"
                  [class.app-diff]="diffs[w.attributes['HPOS'] + '-' + w.attributes['VPOS']]" [matTooltip]="diffs[w.attributes['HPOS'] + '-' + w.attributes['VPOS']]">
                  {{w.attributes['CONTENT']}}  
                </span>
                <input *ngIf="selectedWords.length > 0 && canEdit &&
                w.attributes['HPOS'] === selectedWords[0].attributes['HPOS'] && 
                w.attributes['VPOS'] === selectedWords[0].attributes['VPOS']"
                  [style.width]="(w.attributes['CONTENT'].toString().length + 1) + 'ch'" [(ngModel)]="w.attributes['CONTENT']" (ngModelChange)="checkChanged()" />
              </ng-container>
              <ng-container *ngIf="w.name === 'SP'">&#160;</ng-container>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </p>
  </ng-container>
</div>